.container {
  display: grid;
  grid-template-rows: 1fr auto;
}

.drum-set {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 17px;
}

#display,
.credicts {
  text-align: center;
  margin: 20px;
  font-size: 14px;
}

.credicts a {
  margin-left: 5px;
  color: #26e6ff;
}
